    <h1>All users registered</h1>

    {% if players %}
    <ul>
        {% for player in players %}
        <ol>{{ loop.index }} - {{ player.fullname }} ({{ player.dateOfBirth|date('M j, Y') }})</ol>
        {% endfor %}
    </ul>
    {% else %}
        No player registered.
    {% endif %}
